<div class="titlebar">
  <img
    width="40"
    alt="Coffee Logo"
    src="https://www.shareicon.net/data/256x256/2016/08/18/812797_coffee_512x512.png"
  />
  <span>Coffee Quiz</span>
</div>

<div class="content">

  <div class="quiz-container">
    <div class="card" [ngSwitch]="selection.value">
      <span *ngSwitchDefault>Question from {{ category }} category</span>
      <span *ngSwitchCase="'random'">Question from random category: {{ category }}</span>
    </div>
   <div class="card">
      <span>Question id: {{ id }}</span>
    </div>
    <div class="card">
      <span>Air date: {{ airdate | date: 'MMM dd, yyyy' }}</span>
    </div>
    <div class="card">
      <span>Question: {{ question }}</span>
    </div>
    <div class="card">
      <span>Your answer:</span>
      <input type="text" id=ans #yourAnswer placeholder="Type in your answer">
    </div>
    <div class="card buttons">
      <input type="button" value="Give me new question" (click)="getNewQuestion()">
      <input type="button" value="Check my answer" (click)="yourAnswer.value == answer ? getConfirmation() : raiseWrongAnswerMessage()">
      <input type="button" value="Get some help" (click)="showAnswer = true">
    </div>
    <div class="card dotted">
      <span>Answer:</span>
      <span id=realAnswer *ngIf="showAnswer">{{ answer }}</span>
    </div>
    <div class="card dotted time">
      <span>Show answer after:</span>
      <input #timeout type="text" id="seconds" placeholder="0">
      <span>seconds</span>
      <input type="button" value="Set seconds" (click)="counter = timeout.value; showAnswerAfterTimeout()">
    </div>
    <div class="card dotted selection">
      <span>Select category from the list below:</span>
      <select #selection size="8">
        <option value="random" selected>Random category</option>
        <option *ngFor="let category of categories">{{ category }}</option>
      </select>
    </div>
  </div>

</div>