<div class="titlebar">
  <img
    width="40"
    alt="Coffee Logo"
    src="https://www.shareicon.net/data/256x256/2016/08/18/812797_coffee_512x512.png"
  />
  <span>Coffee Quiz</span>
</div>

<div class="content">

  <div class="quiz-container">
    <div class="card">
      <span>Random question in category</span>
    </div>
   <div class="card">
      <span>Question:</span>
    </div>
    <div class="card">
      <span>Your answer:</span>
    </div>
    <div class="card">
      <span>Answer:</span>
    </div>
    <div class="card">
      <span>Show answer after:</span>
    </div>
    <div class="card">
      <button>Give me new question</button>
      <button>Check my answer</button>
      <button>Get some help</button>
    </div>
  </div>

</div>